HDL/db/
HDL/incremental_db/
HDL/output_files/
HDL/greybox_tmp/
HDL/.qsys_edit/
HDL/*.bak
HDL/*.qws
HDL/*.rpt
Software/a314install_*.run
Software/bin_pi
Software/bin_amiga
Software/bpls2gif/build/
Software/**/.vscode
