HDL/db/
HDL/incremental_db/
HDL/output_files/
HDL/greybox_tmp/
HDL/.qsys_edit/
HDL/*.bak
HDL/*.qws
HDL/*.rpt
Software/**/.vscode
Software/bin_amiga
Software/bin_pi
Software/bpls2gif/build
Software/libremote/stubs.h
Software/libremote/example.library
Software/libremote/bsdsocket.library
Software/libremote/proto_example.h
Software/libremote/ExampleClient
