-cc=vbccm68k -c99 -quiet -hunkdebug %s -o= %s %s -O=%ld -no-cpp-warn -I$VBCC/targets/m68k-kick13/include -I$VBCC/../NDK13/include_h
-ccv=vbccm68k -c99 -hunkdebug %s -o= %s %s -O=%ld -no-cpp-warn -I$VBCC/targets/m68k-kick13/include -I$VBCC/../NDK13/include_h
-as=vasmm68k_mot -quiet -Fhunk -kick1hunks -phxass -nowarn=62 %s -o %s
-asv=vasmm68k_mot -Fhunk -kick1hunks -phxass -nowarn=62 %s -o %s
-rm=rm -f %s
-rmv=rm %s
-ld=vlink -bamigahunk -x -Bstatic -Cvbcc -nostdlib -Z -mrel $VBCC/targets/m68k-kick13/lib/startup.o %s %s -L$VBCC/targets/m68k-kick13/lib -lvc -o %s
-l2=vlink -bamigahunk -x -Bstatic -Cvbcc -nostdlib -Z -mrel %s %s -L$VBCC/targets/m68k-kick13/lib -o %s
-ldv=vlink -bamigahunk -t -x -Bstatic -Cvbcc -nostdlib -Z -mrel $VBCC/targets/m68k-kick13/lib/startup.o %s %s -L$VBCC/targets/m68k-kick13/lib -lvc -o %s
-l2v=vlink -bamigahunk -t -x -Bstatic -Cvbcc -nostdlib -Z -mrel %s %s -L$VBCC/targets/m68k-kick13/lib -o %s
-ldnodb=-s
-ul=-l%s
-cf=-F%s
-ml=1000
