[Unit]
Description=A314 Daemon
After=network.target

[Service]
Type=simple
User=##USER##
Group=##GROUP##
ExecStart=/opt/a314/a314d

[Install]
WantedBy=multi-user.target
